/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.theme-dark .header__rec {
    display: block;
}

:root.theme-dark {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */

    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --menu-color: #FF0070;
    --menu-hover-color: rgba(255, 0, 112, 0.4);
    --decorated-text-color: #000028;
    --decorated-zone-border-color: #FF0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #FF0070;
        --title-color: #DB00FF;
        --text-color: #F1B2CE;
        --menu-color: #FF0070;
        --menu-hover-color: rgba(255, 0, 112, 0.4);
        --decorated-text-color: #000028;
        --decorated-zone-border-color: #FF0070;
        --bg-color: #000028;
        --bg-image: url(../images/cover-image-dark.png);
    }

    .header__rec {
        display: block;
    }
}